@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Racing' ;
    src: url('RacingSansOne-Regular.ttf') format('truetype');
    
}
body{
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/*Estilo Header*/

header{
   background-color: black;
   height: 4rem;
   display: flex;
   justify-content: space-between;

}

nav{   
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
    font-family: 'Racing', Times, serif;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: white;
}

.set-logo{
    display: flex;    
    margin-left: 25px;
}

.set-search{
    display: flex;
    border: solid;
    margin-right: 25px;
}
.input-search{
    background-color: black ;
    color: white;
    display: flex;
    border: 0;
    outline: 0;
    font-family: 'Racing', Times,serif;
}

.input-search::placeholder{
    color: white;
    font-family: 'Racing', Times, serif;
}

/*Estilo do Footer*/
footer{
    background-color: black;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    
}

.rodape{
    display: flex;
    align-items: center;
    margin-left: 25px;
    color: white;
}

.logo-rodape{
    display: flex;    
    margin-right: 25px;
}






section.destaque{
    background-color: bisque;
    display: flex;
    flex-direction: row;
}

section.destaque h2{
    align-self: start;
}

section.destaque select{
    align-self: center;
    
}

section.entrevista{
    background-color: lightblue;
}

section.novos-videos{
    background-color: lightcoral;
}

aside.sobre-novos-videos{
    background-color: lightcoral;
}

section.propagandas{
    background-color: lightgreen;
}
